.jumbotron{
	background-color: #181A1D;
	padding-top: 60px;
    padding-bottom: 120px;
    margin-bottom: 0px;
}
.navbar-static-top{
	background-color: #181A1D;
	margin-bottom: 0px;
	padding-top: 10px;
}
.navbar-static-top ul li a{
	color: white;
}
.navbar .nav.pull-right {
    margin-left: 10px;
    margin-right: 0px;
}
.navbar .nav.pull-right {
    float: right;
}
.navbar .nav > li {
    display: block;
    float: left;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #181A1D;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.col-lg-6 {
    left: 25%;
    width: 50%;
}
.jumbotron .input-group input{
	font-size: 18px;
    height: 48px !important
}
.jumbotron .input-group button{
	font-size: 18px;
    height: 48px !important;
    width:80px;
    color: white;
}
.search-note{
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #FFFFFF;
}
.whitecolor{
	color: #FFFFFF;
}
.search-img{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 38px;
}
.simple-description{
	background-image: url(../images/second.jpg);
	width: 100%;
	height: 400px;
}
.description-head{
	text-align: center;
	padding-top: 50px;
	color: green;
}
.description-head-first{
	font-weight: 900;
	font-size: 18px;
}
.show-block{
	height: 250px;
}
.description-foot{
	text-align: center;
	padding-top: 10px;
	color: green;
}